{% load queryparam_tags %}
{% if is_paginated %}
    <div class="pagination pagination-sticky-bottom">
        <div class="directions">
            {% if page_obj.has_previous %}
                <a href="?{% update_qs page=1 %}">&laquo; First</a>
                <a href="?{% update_qs page=page_obj.previous_page_number %}">Previous</a>
            {% endif %}
            <span>Page {{ page_obj.number }} of {{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?{% update_qs page=page_obj.next_page_number %}">Next</a>
                <a href="?{% update_qs page=paginator.num_pages %}">Last &raquo;</a>
            {% endif %}
        </div>
        <div class="limitChoices">
            <span>Per page:</span>
            <a href="?{% update_qs limit=10 page=1 %}">10</a>
            <a href="?{% update_qs limit=25 page=1 %}">25</a>
            <a href="?{% update_qs limit=50 page=1 %}">50</a>
            <a href="?{% update_qs limit=100 page=1 %}">100</a>
            <a href="?{% update_qs limit=200 page=1 %}">200</a>
        </div>
    </div>
{% endif %}
