{% load static %}
{% load bookmark_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
            {% if block.title %}-{% endif %}
            Pebbling Club 🐧🪨
        </title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <link rel="stylesheet" href="{% static 'index.css' %}" />
        <script type="module" src="{% static 'index.js' %}"></script>
        {% if user.is_authenticated %}
            <script type="application/json" id="user">{
                "username": "{{ user.username }}",
                "bio": "{{ user.bio }}",
                "avatar": "{{ user.avatar }}"
            }
            </script>
        {% endif %}
        {% if force_refresh %}
            <script type="application/json" id="forceRefresh">{
                "forceRefresh": true,
            }
            </script>
        {% endif %}
        {% block html_head %}
        {% endblock html_head %}
    </head>
    <body>
        <details-closer>
            {% if not minimal_layout %}
                <div class="content-grid-wrapper">
                    <div class="content-grid">
                        <header class="site">
                            <section class="masthead">
                                <h1>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'profiles:view' user.username %}">Pebbling Club 🐧🪨</a>
                                    {% else %}
                                        <a href="{% url 'home:index' %}">Pebbling Club 🐧🪨</a>
                                    {% endif %}
                                </h1>
                            </section>
                            <nav>
                                {% block before_site_nav %}
                                {% endblock before_site_nav %}
                                <theme-selector title="Enable dark theme">
                                    <label>
                                        <input type="checkbox" />
                                        <span class="slider"></span>
                                    </label>
                                </theme-selector>
                                {% if user.is_authenticated %}
                                    <a class="newBookmark" href="{% url 'bookmarks:add' %}">+ New</a>
                                    <a class="inbox-link" href="{% url 'inbox:list' %}">📥 Inbox</a>
                                    <details class="autoclose">
                                        <summary>
                                            <span>{{ user.username }}</span>
                                        </summary>
                                        <div>
                                            <a href="{% url 'bookmarks:add' %}">+ New</a>
                                            <a href="{% url 'inbox:list' %}">📥 Inbox</a>
                                            <a href="{% url 'bookmarks:import' %}">Import</a>
                                            <a href="{% url "profiles:view" user.username %}">Profile</a>
                                            <a href="{% url "profiles:edit" user.username %}">Settings</a>
                                            <a href="{% bookmarklet_new_bookmark %}">Bookmarklet</a>
                                            <a href="{% bookmarklet_new_bookmark popup=True %}">Bookmarklet (popup)</a>
                                            <form action="{% url 'users:logout' %}" method="post">
                                                <button type="submit">Logout</button>
                                            </form>
                                        </div>
                                    </details>
                                {% else %}
                                    <details class="autoclose">
                                        <summary>Welcome!</summary>
                                        <div>
                                            <a href="{% url 'users:register' %}">Signup</a>
                                            <a href="{% url 'users:login' %}">Login</a>
                                        </div>
                                    </details>
                                {% endif %}
                            </nav>
                        </header>
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                    {% if not minimal_layout %}
                        <footer>
                            <!-- TBD -->
                        </footer>
                    </div>
                </div>
            {% endif %}
        </details-closer>
    </body>
</html>
