pc-bookmark-form .unfurl-data {
  display: contents;
}
pc-bookmark-form .unfurl-data summary {
  cursor: pointer;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

pc-bookmark-form .unfurl-data .refresh {
  grid-column: field;
}

pc-bookmark-form .unfurl-data textarea {
  grid-column: field;
}
