form {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--row-gap) / 2);
}

form > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

@media (min-width: 1024px) {
  form > div {
    display: grid;
    column-gap: var(--column-gap);
    grid-template-columns:
      [label] 1fr
      [field] 11fr;
    grid-template-rows: auto auto;
    grid-auto-flow: dense;
  }
  form > div label {
    grid-column: label;
  }
  form > div input, form > div textarea {
    grid-column: field;
    grid-row: 1;
  }
}

form > div .helptext {
    grid-column: field;
    font-size: 0.8em;
    color: var(--theme-text-muted-color);
}

form > div ul.errorlist {
  grid-column: field;
  margin: 0;
  padding: 0;
  list-style: none;
}

form > div ul.errorlist li {
  color: var(--theme-error-message-color);
  font-size: 0.8em;
}

form > section {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

form > section.actions {
  margin-top: 0.75em;
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

form > section.actions button {
  padding: 0.5em;
  cursor: pointer;
}

form input, form textarea {
  font-size: var(--theme-font-size);
  font-family: var(--theme-font-family);
}

textarea[hidden] {
  display: none;
}
